<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Par impar Reto Sinatra</title>
  </head>
  <body>
    <% 50.times do |index| %>
      <% if index % 2 == 0 %>
        <h1>Soy Par!</h1>
      <% else %>
        <h1>Soy Impar!</h1>
      <% end %>
    <% end %>
  </body>
</html>
