<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Abuela Sorda Reto Sinatra</title>
  </head>
  <body>
    <h1>Abuela Sorda</h1>
    <p>Di algo Abuela: </p>
    <form action="/response" method="post">
      <input type="text" name="textoabuela" value="">
      <input type="submit" name="enviar" value="Dilo!">
    </form>
  </body>
</html>
